In [22]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

In [23]:
train_Data= pd.read_csv(r"C:\Users\Dell\Downloads\termdeposit_train.csv")
train_Data

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed
0,26110,56,admin.,married,unknown,no,1933,no,no,telephone,19,nov,44,2,-1,0,unknown,no
1,40576,31,unknown,married,secondary,no,3,no,no,cellular,20,jul,91,2,-1,0,unknown,no
2,15320,27,services,married,secondary,no,891,yes,no,cellular,18,jul,240,1,-1,0,unknown,no
3,43962,57,management,divorced,tertiary,no,3287,no,no,cellular,22,jun,867,1,84,3,success,yes
4,29842,31,technician,married,secondary,no,119,yes,no,cellular,4,feb,380,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31642,36483,29,management,single,tertiary,no,0,yes,no,cellular,12,may,116,2,-1,0,unknown,no
31643,40178,53,management,divorced,tertiary,no,380,no,yes,cellular,5,jun,438,2,-1,0,unknown,yes
31644,19710,32,management,single,tertiary,no,312,no,no,cellular,7,aug,37,3,-1,0,unknown,no
31645,38556,57,technician,married,secondary,no,225,yes,no,telephone,15,may,22,7,337,12,failure,no
31646,14156,55,management,divorced,secondary,no,204,yes,no,cellular,11,jul,1973,2,-1,0,unknown,yes

In [24]:
#columns_to_drop = ['ID', 'age','marital','default','housing','contact','day','month','poutcome','pdays','previous']
#train_Data = train_Data.drop(columns=columns_to_drop)

In [25]:
train_Data

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed
0,26110,56,admin.,married,unknown,no,1933,no,no,telephone,19,nov,44,2,-1,0,unknown,no
1,40576,31,unknown,married,secondary,no,3,no,no,cellular,20,jul,91,2,-1,0,unknown,no
2,15320,27,services,married,secondary,no,891,yes,no,cellular,18,jul,240,1,-1,0,unknown,no
3,43962,57,management,divorced,tertiary,no,3287,no,no,cellular,22,jun,867,1,84,3,success,yes
4,29842,31,technician,married,secondary,no,119,yes,no,cellular,4,feb,380,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31642,36483,29,management,single,tertiary,no,0,yes,no,cellular,12,may,116,2,-1,0,unknown,no
31643,40178,53,management,divorced,tertiary,no,380,no,yes,cellular,5,jun,438,2,-1,0,unknown,yes
31644,19710,32,management,single,tertiary,no,312,no,no,cellular,7,aug,37,3,-1,0,unknown,no
31645,38556,57,technician,married,secondary,no,225,yes,no,telephone,15,may,22,7,337,12,failure,no
31646,14156,55,management,divorced,secondary,no,204,yes,no,cellular,11,jul,1973,2,-1,0,unknown,yes

In [26]:
column_names = train_Data.columns
for column in column_names:
    print(column + ' - ' + str(train_Data[column].isnull().sum()))

ID - 0
age - 0
job - 0
marital - 0
education - 0
default - 0
balance - 0
housing - 0
loan - 0
contact - 0
day - 0
month - 0
duration - 0
campaign - 0
pdays - 0
previous - 0
poutcome - 0
subscribed - 0

In [27]:
from sklearn.preprocessing import LabelEncoder
columns_to_encode = ['job', 'education', 'loan','subscribed','marital','default','housing','loan','contact','month','poutcome']

for column in columns_to_encode:
    train_Data[column] = pd.to_numeric(train_Data[column], errors='coerce')
    label_encoder = LabelEncoder()
    train_Data[column] = label_encoder.fit_transform(train_Data[column])

In [28]:
#columns_to_drop = ['ID', 'age','marital','default','housing','contact','day','month','poutcome','pdays','previous']
#train_Data = train_Data.drop(columns=columns_to_drop)

In [29]:
train_Data

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed
0,26110,56,0,0,0,0,1933,0,0,0,19,0,44,2,-1,0,0,0
1,40576,31,0,0,0,0,3,0,0,0,20,0,91,2,-1,0,0,0
2,15320,27,0,0,0,0,891,0,0,0,18,0,240,1,-1,0,0,0
3,43962,57,0,0,0,0,3287,0,0,0,22,0,867,1,84,3,0,0
4,29842,31,0,0,0,0,119,0,0,0,4,0,380,1,-1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31642,36483,29,0,0,0,0,0,0,0,0,12,0,116,2,-1,0,0,0
31643,40178,53,0,0,0,0,380,0,0,0,5,0,438,2,-1,0,0,0
31644,19710,32,0,0,0,0,312,0,0,0,7,0,37,3,-1,0,0,0
31645,38556,57,0,0,0,0,225,0,0,0,15,0,22,7,337,12,0,0
31646,14156,55,0,0,0,0,204,0,0,0,11,0,1973,2,-1,0,0,0

In [30]:
X = train_Data.drop(columns=['ID', 'subscribed'])
y = train_Data['subscribed']

In [31]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [33]:
y_pred = model.predict(X_val)
accuracy = accuracy_score(y_val, y_pred)
print(f'Accuracy on validation set: {accuracy}')

Accuracy on validation set: 1.0

In [34]:
accuracy = accuracy_score(y_val, y_pred)
print(f'Accuracy: {accuracy}')

Accuracy: 1.0

In [35]:
test_data = pd.read_csv(r'C:\Users\Dell\Downloads\termdeposit_test.csv')
test_data

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,38441,32,services,married,secondary,no,118,yes,no,cellular,15,may,20,6,-1,0,unknown
1,40403,78,retired,divorced,primary,no,2787,no,no,telephone,1,jul,372,1,-1,0,unknown
2,3709,31,self-employed,single,tertiary,no,144,yes,no,unknown,16,may,676,1,-1,0,unknown
3,37422,57,services,single,primary,no,3777,yes,no,telephone,13,may,65,2,-1,0,unknown
4,12527,45,blue-collar,divorced,secondary,no,-705,no,yes,unknown,3,jul,111,1,-1,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13559,23465,39,management,married,tertiary,no,45,no,no,cellular,28,aug,148,4,-1,0,unknown
13560,11743,54,blue-collar,married,primary,no,2281,yes,no,unknown,20,jun,158,1,-1,0,unknown
13561,28292,35,retired,married,primary,no,285,yes,no,cellular,29,jan,136,1,-1,0,unknown
13562,45163,29,admin.,single,secondary,no,464,no,no,cellular,9,nov,208,2,91,3,success
13563,34839,29,admin.,married,secondary,no,2,yes,no,cellular,6,may,339,1,362,1,failure

In [36]:
#columns_to_drop = ['ID', 'age','marital','default','housing','contact','day','month','poutcome','pdays','previous']
#test_data = test_data.drop(columns=columns_to_drop)

In [37]:
column_names = test_data.columns
for column in column_names:
    print(column + ' - ' + str(test_data[column].isnull().sum()))

ID - 0
age - 0
job - 0
marital - 0
education - 0
default - 0
balance - 0
housing - 0
loan - 0
contact - 0
day - 0
month - 0
duration - 0
campaign - 0
pdays - 0
previous - 0
poutcome - 0

In [38]:
from sklearn.preprocessing import LabelEncoder
columns_to_encode = ['job', 'education', 'loan','marital','default','housing','loan','contact','month','poutcome']

for column in columns_to_encode:
    test_data[column] = pd.to_numeric(test_data[column], errors='coerce')
    label_encoder = LabelEncoder()
    test_data[column] = label_encoder.fit_transform(test_data[column])

In [39]:
# Predict on test data
X_test_data = test_data.drop(columns=['ID'])
predictions = model.predict(X_test_data)

In [40]:
#X_test_data = test_data.drop(columns=['ID'])
predictions = model.predict(X_test_data)

# Save the predictions
test_data['subscribed'] = predictions
test_data[['ID', 'subscribed']].to_csv('predictions.csv', index=False)